<p id="notice"><%= notice %></p>

<p>
  <strong>Ttpcodigo:</strong>
  <%= @tipoapreensao.ttpcodigo %>
</p>

<p>
  <strong>Ttpatualiza:</strong>
  <%= @tipoapreensao.ttpatualiza %>
</p>

<%= link_to 'Edit', edit_tipoapreensao_path(@tipoapreensao) %> |
<%= link_to 'Back', tipoapreensoes_path %>
