<p id="notice"><%= notice %></p>

<p>
  <strong>Ttocodigo:</strong>
  <%= @tipodocumento.ttocodigo %>
</p>

<p>
  <strong>Ttodescricao:</strong>
  <%= @tipodocumento.ttodescricao %>
</p>

<p>
  <strong>Ttoatualiza:</strong>
  <%= @tipodocumento.ttoatualiza %>
</p>

<p>
  <strong>Ttorelapreensao:</strong>
  <%= @tipodocumento.ttorelapreensao %>
</p>

<p>
  <strong>Ttorelrecuperacao:</strong>
  <%= @tipodocumento.ttorelrecuperacao %>
</p>

<%= link_to 'Edit', edit_tipodocumento_path(@tipodocumento) %> |
<%= link_to 'Back', tipodocumentos_path %>
