<p id="notice"><%= notice %></p>

<p>
  <strong>Ocvid:</strong>
  <%= @ocorrenciaveiculo.ocvid %>
</p>

<p>
  <strong>Ocvocoid:</strong>
  <%= @ocorrenciaveiculo.ocvocoid %>
</p>

<p>
  <strong>Ocvveiid:</strong>
  <%= @ocorrenciaveiculo.ocvveiid %>
</p>

<%= link_to 'Edit', edit_ocorrenciaveiculo_path(@ocorrenciaveiculo) %> |
<%= link_to 'Back', ocorrenciaveiculos_path %>
