<p id="notice"><%= notice %></p>

<p>
  <strong>Uniid:</strong>
  <%= @unidadeoperacional.uniid %>
</p>

<p>
  <strong>Uniunidade:</strong>
  <%= @unidadeoperacional.uniunidade %>
</p>

<p>
  <strong>Unilotacao:</strong>
  <%= @unidadeoperacional.unilotacao %>
</p>

<p>
  <strong>Unisigla:</strong>
  <%= @unidadeoperacional.unisigla %>
</p>

<p>
  <strong>Unittucodigo:</strong>
  <%= @unidadeoperacional.unittucodigo %>
</p>

<p>
  <strong>Uniunidaderesponsavel:</strong>
  <%= @unidadeoperacional.uniunidaderesponsavel %>
</p>

<p>
  <strong>Unidenominacao:</strong>
  <%= @unidadeoperacional.unidenominacao %>
</p>

<p>
  <strong>Unimunicipio:</strong>
  <%= @unidadeoperacional.unimunicipio %>
</p>

<p>
  <strong>Unilocal:</strong>
  <%= @unidadeoperacional.unilocal %>
</p>

<p>
  <strong>Unilatitude:</strong>
  <%= @unidadeoperacional.unilatitude %>
</p>

<p>
  <strong>Unilongitude:</strong>
  <%= @unidadeoperacional.unilongitude %>
</p>

<p>
  <strong>Unihelicoptero:</strong>
  <%= @unidadeoperacional.unihelicoptero %>
</p>

<%= link_to 'Edit', edit_unidadeoperacional_path(@unidadeoperacional) %> |
<%= link_to 'Back', unidadeoperacionais_path %>
