<p id="notice"><%= notice %></p>

<p>
  <strong>Ttacodigo:</strong>
  <%= @tipo_acidente.ttacodigo %>
</p>

<p>
  <strong>Ttaatualiza:</strong>
  <%= @tipo_acidente.ttaatualiza %>
</p>

<p>
  <strong>Ttaativo:</strong>
  <%= @tipo_acidente.ttaativo %>
</p>

<%= link_to 'Edit', edit_tipo_acidente_path(@tipo_acidente) %> |
<%= link_to 'Back', tipo_acidentes_path %>
