<p id="notice"><%= notice %></p>

<p>
  <strong>Oacocoid:</strong>
  <%= @ocorrenciaacidente.oacocoid %>
</p>

<p>
  <strong>Oacttacodigo:</strong>
  <%= @ocorrenciaacidente.oacttacodigo %>
</p>

<p>
  <strong>Oactcacodigo:</strong>
  <%= @ocorrenciaacidente.oactcacodigo %>
</p>

<p>
  <strong>Oacdano:</strong>
  <%= @ocorrenciaacidente.oacdano %>
</p>

<p>
  <strong>Oacdanoterc:</strong>
  <%= @ocorrenciaacidente.oacdanoterc %>
</p>

<p>
  <strong>Oacdanoamb:</strong>
  <%= @ocorrenciaacidente.oacdanoamb %>
</p>

<p>
  <strong>Oaclatitude:</strong>
  <%= @ocorrenciaacidente.oaclatitude %>
</p>

<p>
  <strong>Oaclongitude:</strong>
  <%= @ocorrenciaacidente.oaclongitude %>
</p>

<p>
  <strong>Oacrefera:</strong>
  <%= @ocorrenciaacidente.oacrefera %>
</p>

<p>
  <strong>Oacreferb:</strong>
  <%= @ocorrenciaacidente.oacreferb %>
</p>

<p>
  <strong>Oacdistab:</strong>
  <%= @ocorrenciaacidente.oacdistab %>
</p>

<p>
  <strong>Oacdistac:</strong>
  <%= @ocorrenciaacidente.oacdistac %>
</p>

<p>
  <strong>Oacdistbc:</strong>
  <%= @ocorrenciaacidente.oacdistbc %>
</p>

<p>
  <strong>Oacmodelopista:</strong>
  <%= @ocorrenciaacidente.oacmodelopista %>
</p>

<p>
  <strong>Oacsentido1:</strong>
  <%= @ocorrenciaacidente.oacsentido1 %>
</p>

<p>
  <strong>Oacsentido2:</strong>
  <%= @ocorrenciaacidente.oacsentido2 %>
</p>

<p>
  <strong>Oacqtdfaixa1:</strong>
  <%= @ocorrenciaacidente.oacqtdfaixa1 %>
</p>

<p>
  <strong>Oacqtdfaixa2:</strong>
  <%= @ocorrenciaacidente.oacqtdfaixa2 %>
</p>

<p>
  <strong>Oacacostamento1:</strong>
  <%= @ocorrenciaacidente.oacacostamento1 %>
</p>

<p>
  <strong>Oacacostamento2:</strong>
  <%= @ocorrenciaacidente.oacacostamento2 %>
</p>

<p>
  <strong>Oacimagemlen:</strong>
  <%= @ocorrenciaacidente.oacimagemlen %>
</p>

<p>
  <strong>Oacimagem:</strong>
  <%= @ocorrenciaacidente.oacimagem %>
</p>

<p>
  <strong>Oacdescdanopat:</strong>
  <%= @ocorrenciaacidente.oacdescdanopat %>
</p>

<p>
  <strong>Oacdescdanoterc:</strong>
  <%= @ocorrenciaacidente.oacdescdanoterc %>
</p>

<p>
  <strong>Oacdescdanoamb:</strong>
  <%= @ocorrenciaacidente.oacdescdanoamb %>
</p>

<p>
  <strong>Oaccanteiro:</strong>
  <%= @ocorrenciaacidente.oaccanteiro %>
</p>

<p>
  <strong>Oaccanteiro:</strong>
  <%= @ocorrenciaacidente.oaccanteiro %>
</p>

<p>
  <strong>Oacorientpista:</strong>
  <%= @ocorrenciaacidente.oacorientpista %>
</p>

<p>
  <strong>Oacgirafundo:</strong>
  <%= @ocorrenciaacidente.oacgirafundo %>
</p>

<p>
  <strong>Oacversaocroqui:</strong>
  <%= @ocorrenciaacidente.oacversaocroqui %>
</p>

<p>
  <strong>Oacsitio:</strong>
  <%= @ocorrenciaacidente.oacsitio %>
</p>

<%= link_to 'Edit', edit_ocorrenciaacidente_path(@ocorrenciaacidente) %> |
<%= link_to 'Back', ocorrenciaacidentes_path %>
