<p id="notice"><%= notice %></p>

<p>
  <strong>Ttrcodigo:</strong>
  <%= @tiporeceptor.ttrcodigo %>
</p>

<p>
  <strong>Ttrdescricao:</strong>
  <%= @tiporeceptor.ttrdescricao %>
</p>

<p>
  <strong>Ttratualiza:</strong>
  <%= @tiporeceptor.ttratualiza %>
</p>

<p>
  <strong>Ttrdelegacia:</strong>
  <%= @tiporeceptor.ttrdelegacia %>
</p>

<%= link_to 'Edit', edit_tiporeceptor_path(@tiporeceptor) %> |
<%= link_to 'Back', tiporeceptores_path %>
