<p id="notice"><%= notice %></p>

<p>
  <strong>Lbrid:</strong>
  <%= @localbr.lbrid %>
</p>

<p>
  <strong>Lbruf:</strong>
  <%= @localbr.lbruf %>
</p>

<p>
  <strong>Lbrbr:</strong>
  <%= @localbr.lbrbr %>
</p>

<p>
  <strong>Lbrkm:</strong>
  <%= @localbr.lbrkm %>
</p>

<p>
  <strong>Lbrlatitude:</strong>
  <%= @localbr.lbrlatitude %>
</p>

<p>
  <strong>Lbrlatitude:</strong>
  <%= @localbr.lbrlatitude %>
</p>

<p>
  <strong>Lbrpnvid:</strong>
  <%= @localbr.lbrpnvid %>
</p>

<p>
  <strong>Lbratualiza:</strong>
  <%= @localbr.lbratualiza %>
</p>

<%= link_to 'Edit', edit_localbr_path(@localbr) %> |
<%= link_to 'Back', localbrs_path %>
