<%= form_for(@uf) do |f| %>
  <% if @uf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uf.errors.count, "error") %> prohibited this uf from being saved:</h2>

      <ul>
      <% @uf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tufuf %><br>
    <%= f.text_field :tufuf %>
  </div>
  <div class="field">
    <%= f.label :tufdenominacao %><br>
    <%= f.text_area :tufdenominacao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
