<p id="notice"><%= notice %></p>

<p>
  <strong>Tufuf:</strong>
  <%= @uf.tufuf %>
</p>

<p>
  <strong>Tufdenominacao:</strong>
  <%= @uf.tufdenominacao %>
</p>

<%= link_to 'Edit', edit_uf_path(@uf) %> |
<%= link_to 'Back', ufs_path %>
