<p id="notice"><%= notice %></p>

<p>
  <strong>Ttucodigo:</strong>
  <%= @tipounidadeoperacional.ttucodigo %>
</p>

<p>
  <strong>Ttudescricao:</strong>
  <%= @tipounidadeoperacional.ttudescricao %>
</p>

<p>
  <strong>Ttuatualiza:</strong>
  <%= @tipounidadeoperacional.ttuatualiza %>
</p>

<%= link_to 'Edit', edit_tipounidadeoperacional_path(@tipounidadeoperacional) %> |
<%= link_to 'Back', tipounidadeoperacionais_path %>
