<p id="notice"><%= notice %></p>

<p>
  <strong>Pesid:</strong>
  <%= @pessoa.pesid %>
</p>

<p>
  <strong>Pesufexpedidora:</strong>
  <%= @pessoa.pesufexpedidora %>
</p>

<p>
  <strong>Pesnaturalidade:</strong>
  <%= @pessoa.pesnaturalidade %>
</p>

<p>
  <strong>Pesnacionalidade:</strong>
  <%= @pessoa.pesnacionalidade %>
</p>

<p>
  <strong>Pessexo:</strong>
  <%= @pessoa.pessexo %>
</p>

<p>
  <strong>Pestgicodigo:</strong>
  <%= @pessoa.pestgicodigo %>
</p>

<p>
  <strong>Pestopcodigo:</strong>
  <%= @pessoa.pestopcodigo %>
</p>

<p>
  <strong>Pesmunicipioori:</strong>
  <%= @pessoa.pesmunicipioori %>
</p>

<p>
  <strong>Pespaisori:</strong>
  <%= @pessoa.pespaisori %>
</p>

<p>
  <strong>Pesmunicipiodest:</strong>
  <%= @pessoa.pesmunicipiodest %>
</p>

<p>
  <strong>Pesveiid:</strong>
  <%= @pessoa.pesveiid %>
</p>

<p>
  <strong>Pescinto:</strong>
  <%= @pessoa.pescinto %>
</p>

<p>
  <strong>Pescapacete:</strong>
  <%= @pessoa.pescapacete %>
</p>

<p>
  <strong>Peshabilitado:</strong>
  <%= @pessoa.peshabilitado %>
</p>

<p>
  <strong>Pessocorrido:</strong>
  <%= @pessoa.pessocorrido %>
</p>

<p>
  <strong>Pesdormindo:</strong>
  <%= @pessoa.pesdormindo %>
</p>

<p>
  <strong>Pesalcool:</strong>
  <%= @pessoa.pesalcool %>
</p>

<p>
  <strong>Peskmpercorre:</strong>
  <%= @pessoa.peskmpercorre %>
</p>

<p>
  <strong>Peshorapercorre:</strong>
  <%= @pessoa.peshorapercorre %>
</p>

<p>
  <strong>Pescategcnh:</strong>
  <%= @pessoa.pescategcnh %>
</p>

<p>
  <strong>Pesdatahabil:</strong>
  <%= @pessoa.pesdatahabil %>
</p>

<p>
  <strong>Pesdatavalidade:</strong>
  <%= @pessoa.pesdatavalidade %>
</p>

<p>
  <strong>Pesapelido:</strong>
  <%= @pessoa.pesapelido %>
</p>

<p>
  <strong>Pesidade:</strong>
  <%= @pessoa.pesidade %>
</p>

<p>
  <strong>Pesaltura:</strong>
  <%= @pessoa.pesaltura %>
</p>

<p>
  <strong>Pespeso:</strong>
  <%= @pessoa.pespeso %>
</p>

<p>
  <strong>Pescicatriz:</strong>
  <%= @pessoa.pescicatriz %>
</p>

<p>
  <strong>Pestatuagem:</strong>
  <%= @pessoa.pestatuagem %>
</p>

<p>
  <strong>Pessinal:</strong>
  <%= @pessoa.pessinal %>
</p>

<p>
  <strong>Peslesao:</strong>
  <%= @pessoa.peslesao %>
</p>

<p>
  <strong>Pestcccodigo:</strong>
  <%= @pessoa.pestcccodigo %>
</p>

<p>
  <strong>Pestctcodigo:</strong>
  <%= @pessoa.pestctcodigo %>
</p>

<p>
  <strong>Pestctcodigo:</strong>
  <%= @pessoa.pestctcodigo %>
</p>

<p>
  <strong>Pespertences:</strong>
  <%= @pessoa.pespertences %>
</p>

<p>
  <strong>Pesdadoscomplement:</strong>
  <%= @pessoa.pesdadoscomplement %>
</p>

<p>
  <strong>Pesoenid:</strong>
  <%= @pessoa.pesoenid %>
</p>

<p>
  <strong>Vestigios drogas:</strong>
  <%= @pessoa.vestigios_drogas %>
</p>

<p>
  <strong>Descricao cicatriz:</strong>
  <%= @pessoa.descricao_cicatriz %>
</p>

<p>
  <strong>Descricao sinal:</strong>
  <%= @pessoa.descricao_sinal %>
</p>

<p>
  <strong>Descricao deficiencia:</strong>
  <%= @pessoa.descricao_deficiencia %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
