<h1>Listando páginas</h1>

<%= link_to  "UFs", ufs_path %><br>		
<%= link_to  "Local brs", localbrs_path %><br>
<%= link_to  "Pessoas", pessoas_path %><br>
<%= link_to  "Ocorrencia veiculos", ocorrenciaveiculos_path %><br>
<%= link_to  "Unidade operacionais", unidadeoperacionais_path %><br>
<%= link_to  "Tipo de veículos", tipoveiculos_path %><br>
<%= link_to  "Tipo unidade operacionais", tipounidadeoperacionais_path %><br>
<%= link_to  "Tipo receptores", tiporeceptores_path %><br>
<%= link_to  "Tipo envolvidos", tipoenvolvidos_path %><br>
<%= link_to  "Tipo documentos", tipodocumentos_path %><br>
<%= link_to  "Tipo detenções", tipodetencoes_path %><br>
<%= link_to  "Tipo áreas especiais", tipoareaespeciais_path %><br>
<%= link_to  "Tipo apreensões", tipoapreensoes_path %><br>
<%= link_to  "Tipo aciedentes", tipo_acidentes_path %><br>
<%= link_to  "Ocorrencia acidentes", ocorrenciaacidentes_path %><br>
<%= link_to  "Ocorrencias", ocorrencias_path %><br>