<p id="notice"><%= notice %></p>

<p>
  <strong>Ttecodigo:</strong>
  <%= @tipoenvolvido.ttecodigo %>
</p>

<p>
  <strong>Tteatualiza:</strong>
  <%= @tipoenvolvido.tteatualiza %>
</p>

<p>
  <strong>Tteativo:</strong>
  <%= @tipoenvolvido.tteativo %>
</p>

<%= link_to 'Edit', edit_tipoenvolvido_path(@tipoenvolvido) %> |
<%= link_to 'Back', tipoenvolvidos_path %>
