<p id="notice"><%= notice %></p>

<p>
  <strong>Ttdcodigo:</strong>
  <%= @tipodetencao.ttdcodigo %>
</p>

<p>
  <strong>Ttddescricao:</strong>
  <%= @tipodetencao.ttddescricao %>
</p>

<p>
  <strong>Ttdatualiza:</strong>
  <%= @tipodetencao.ttdatualiza %>
</p>

<p>
  <strong>Ttdrelacidente:</strong>
  <%= @tipodetencao.ttdrelacidente %>
</p>

<%= link_to 'Edit', edit_tipodetencao_path(@tipodetencao) %> |
<%= link_to 'Back', tipodetencoes_path %>
