<p id="notice"><%= notice %></p>

<p>
  <strong>Taecodigo:</strong>
  <%= @tipoareaespecial.taecodigo %>
</p>

<p>
  <strong>Taedescricao:</strong>
  <%= @tipoareaespecial.taedescricao %>
</p>

<p>
  <strong>Taeatualiza:</strong>
  <%= @tipoareaespecial.taeatualiza %>
</p>

<%= link_to 'Edit', edit_tipoareaespecial_path(@tipoareaespecial) %> |
<%= link_to 'Back', tipoareaespeciais_path %>
