<p id="notice"><%= notice %></p>

<p>
  <strong>Tvvcodigo:</strong>
  <%= @tipoveiculo.tvvcodigo %>
</p>

<p>
  <strong>Tvvatualiza:</strong>
  <%= @tipoveiculo.tvvatualiza %>
</p>

<p>
  <strong>Tvvativo:</strong>
  <%= @tipoveiculo.tvvativo %>
</p>

<%= link_to 'Edit', edit_tipoveiculo_path(@tipoveiculo) %> |
<%= link_to 'Back', tipoveiculos_path %>
