<p id="notice"><%= notice %></p>

<p>
  <strong>Ocolocal:</strong>
  <%= @ocorrencia.ocolocal %>
</p>

<p>
  <strong>Ocostatus:</strong>
  <%= @ocorrencia.ocostatus %>
</p>

<p>
  <strong>Ocomunicipio:</strong>
  <%= @ocorrencia.ocomunicipio %>
</p>

<p>
  <strong>Ocosentido:</strong>
  <%= @ocorrencia.ocosentido %>
</p>

<p>
  <strong>Ocodataocorrencia:</strong>
  <%= @ocorrencia.ocodataocorrencia %>
</p>

<p>
  <strong>Ocodataregistro:</strong>
  <%= @ocorrencia.ocodataregistro %>
</p>

<p>
  <strong>Ocotipo:</strong>
  <%= @ocorrencia.ocotipo %>
</p>

<p>
  <strong>Ococomid:</strong>
  <%= @ocorrencia.ococomid %>
</p>

<p>
  <strong>Ocoidorigem:</strong>
  <%= @ocorrencia.ocoidorigem %>
</p>

<p>
  <strong>Ococpfretif:</strong>
  <%= @ocorrencia.ococpfretif %>
</p>

<p>
  <strong>Ococpfretif:</strong>
  <%= @ocorrencia.ococpfretif %>
</p>

<%= link_to 'Edit', edit_ocorrencia_path(@ocorrencia) %> |
<%= link_to 'Back', ocorrencias_path %>
